body{
background-color: rgb(70, 142, 236);
font-family: Arial, Helvetica, sans-serif;
font-size: larger;
margin: 0px;
padding:0px
}

header{
    color: rgb(0, 0, 0);
    text-align: center;

}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-color: antiquewhite;
    
}
div {
    text-align: center;
    padding: 65px;
  
}

footer{
text-align: center;
font-style: italic;

}

footer a {
    color: white;
}

footer a:hover{
    color: aquamarine;
}
.container{
    margin-top: 200px;
}


img{
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 380px;
    border-radius: 10px;
}

header h1{
    transform: translateY(150px);
}

img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.6);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    border: 1px solid #ffffff;
    
}

.fundo{
    background-color: black;
}


body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

